{% extends 'base.html.twig' %}

{% block title %}Formulario{% endblock %}

{% block body %}
  <form action="{{ path('app_add_series') }}" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Nome da série:</label>
      <input type="text" name="name" id="name" class="form-control">
    </div>
    <button type="submit" class="btn btn-dark">Adicionar</button>
  </form>
{% endblock %}